<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MicroareaLoginManagerSoap" />
                <binding name="TbServicesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Mago4-3-4-0/LoginManager/LoginManager.asmx"
                binding="basicHttpBinding" bindingConfiguration="MicroareaLoginManagerSoap"
                contract="MagoLoginManager.MicroareaLoginManagerSoap" name="MicroareaLoginManagerSoap" />
            <endpoint address="http://localhost/Mago4-3-4-0/TbServices/TbServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="TbServicesSoap"
                contract="MagoTBService.TbServicesSoap" name="TbServicesSoap" />
        </client>
    </system.serviceModel>
</configuration>