<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PurchaseDocJE_AP_AR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PurchaseDocJE_AP_AR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MicroareaLoginManagerSoap" />
                <binding name="TbServicesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Mago4-3-4-0/LoginManager/LoginManager.asmx"
                binding="basicHttpBinding" bindingConfiguration="MicroareaLoginManagerSoap"
                contract="MagoLoginManager.MicroareaLoginManagerSoap" name="MicroareaLoginManagerSoap" />
            <endpoint address="http://localhost/Mago4-3-4-0/TbServices/TbServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="TbServicesSoap"
                contract="MagoTBServices.TbServicesSoap" name="TbServicesSoap" />
        </client>
    </system.serviceModel>
    <userSettings>
        <PurchaseDocJE_AP_AR.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="instance" serializeAs="String">
                <value>Mago4</value>
            </setting>
            <setting name="company" serializeAs="String">
                <value />
            </setting>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="startTB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartFolder" serializeAs="String">
                <value />
            </setting>
        </PurchaseDocJE_AP_AR.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PurchaseDocJE_AP_AR.Properties.Settings>
            <setting name="PurchaseDocJE_AP_AR_AP_AR_Components_AP_ARComponents"
                serializeAs="String">
                <value>http://usr-rinaldiand:10050/ERP.AP_AR.Components/AP_ARComponents</value>
            </setting>
        </PurchaseDocJE_AP_AR.Properties.Settings>
    </applicationSettings>
</configuration>