<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MagicLinkCGM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MicroareaLoginManagerSoap" />
                <binding name="TbServicesSoap" />
                <binding name="EasyLookServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Mago4-3-4-0/LoginManager/LoginManager.asmx"
                binding="basicHttpBinding" bindingConfiguration="MicroareaLoginManagerSoap"
                contract="MagoLoginManager.MicroareaLoginManagerSoap" name="MicroareaLoginManagerSoap" />
            <endpoint address="http://localhost/Mago4-3-4-0/TbServices/TbServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="TbServicesSoap"
                contract="MagoTBServices.TbServicesSoap" name="TbServicesSoap" />
            <endpoint address="http://localhost/Mago4-3-4-0/EasyLook/EasyLookService.asmx"
                binding="basicHttpBinding" bindingConfiguration="EasyLookServiceSoap"
                contract="MagoEasyLookService.EasyLookServiceSoap" name="EasyLookServiceSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <MagicLinkCGM.Properties.Settings>
            <setting name="MagicLinkCGM_TbGenlibUI_TbGenlibUI" serializeAs="String">
                <value>http://usr-rinaldiand:10050/Framework.TbGenlibUI.TbGenlibUI/TbGenlibUI</value>
            </setting>
        </MagicLinkCGM.Properties.Settings>
    </applicationSettings>
</configuration>